@using HairSalon.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>HOʻĀKOAKOA</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg" class="sticky-top" id="indexNav">
      <img src="https://image.flaticon.com/icons/svg/1720/1720737.svg" width="40" height="40" alt="hashtag">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/stylists">Stylists</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/specialties">Specialties</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="centerText">

    <h1 class="welcome">Add A Stylist to:</h1>
    <h2 class="subHeading">@Model["selectedSpecialty"].SpecialtyName</h2><br>

      <div class="outline">

        <h3>Experienced stylists within this specialty:</h3>
        @if (@Model.Count == 0)
        {
          <h3>There are no stylists within this specialty!</h3>
        }

        <div class="list">
          @if (@Model.Count != 0)
          {
            @foreach (Stylist stylist in @Model["specialtyStylists"])
            {
              <a href="/stylists/@stylist.GetId()">@stylist.StylistName</a><br>
            }
          }
      </div>
    </div>

    <div class="outline">
      <form action='/specialties/@Model["selectedSpecialty"].GetId()/stylists/new' method='post'>
        <label for="stylistId">Add to stylist:</label>
        <select id="stylistId" name="stylistId" type="text">
          @foreach (var stylist in @Model["allStylists"])
          {
            <option value="@stylist.GetId()">@stylist.StylistName</option>

          }
        </select>
        <button type="submit" class="btn btn-info btn-sm">+</button>
      </form>
    </div>

    <div class="new">
      <br><br><form action='/specialties/@Model["selectedSpecialty"].GetId()/delete' method='post'>
        <button type="submit" class="btn btn-danger btn-lg" id="deleteButton">Delete Specialty</button>
      </form>
    </div>

  </body>
</html>
